.gradle/
build/
gradle-app.setting

.idea/
*.iml
captures/

local.properties

.kotlin/

.externalNativeBuild/
.cxx/

app/build/

bin/
gen/
out/

.DS_Store

*.log
crashlytics-build.log
*.hprof

*.keystore
*.jks
*.apk
*.ap_

.vscode/

*.orig
*.rej
